.tag {
  border-radius: 3px;
  padding: 2px 5px;
  margin: 2px;
  font-size: 10px;
  text-decoration: none;
  color: #000;

  &:hover {
    background-color: #808799;
    color: #fff;
  }
}

.tagColorBlyuda {
  background-color: #63bf7d;
}

.tagColorEveryday {
  background-color: #d5dc92;
}

.tagColorHolidays {
  background-color: #ffa9a9;
}

.tagColorCookingMethod {
  background-color: #71cdea;
}

.tagColorDiet {
  background-color: #eeab7b;
}

.defaultTagColor {
  background-color: grey; // Цвет по умолчанию, если тег не соответствует ни одной категории
}
