.scrollableSection {
  margin-bottom: 10px;
  margin-top: 10px;
}

.commentText {
  color: black;
  margin-bottom: 8px; /* Небольшой отступ снизу */
}

.commentDate {
  font-size: 12px;
  color: rgb(167, 158, 158);
  display: block;
  margin-top: 10px;
}
