.root {
  position: relative;
  left: -50px;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1280px) {
  .root {
    left: 0; /* Сбрасываем смещение влево */
  }

  .input {
    padding: 10px 18px; /* Уменьшаем padding */
    padding-left: 36px; /* Уменьшаем левый padding для иконки поиска */
    width: 200px; /* Уменьшаем ширину поля поиска */
    font-size: 10px; /* Опционально, уменьшаем размер шрифта */
  }

  .icon {
    width: 20px; /* Незначительно уменьшаем размер иконки */
    height: 20px; /* Незначительно уменьшаем размер иконки */
    left: 10px; /* Уменьшаем отступ слева */
    top: 10px; /* Опционально, корректируем позицию вверх */
  }

  .clearIcon {
    width: 16px; /* Уменьшаем размер иконки закрытия */
    height: 16px; /* Уменьшаем размер иконки закрытия */
    right: 10px; /* Уменьшаем отступ справа */
    top: 10px; /* Опционально, корректируем позицию вверх */
  }
}

@media (max-width: 630px) {
  .root .input::placeholder {
    display: none !important;
  }

  .root {
    left: 0 !important;
  }

  .input {
    padding: 8px 16px !important;
    padding-left: 34px !important;
    width: 150px !important;
    font-size: 10px !important;
  }

  .icon {
    width: 18px !important;
    height: 18px !important;
    left: 8px !important;
    top: 8px !important;
  }

  .clearIcon {
    width: 14px !important;
    height: 14px !important;
    right: 8px !important;
    top: 8px !important;
  }
}
